    </main>
    <div class="position-relative mt-5 ">
    <div class="position-absolute col-12 mt-5 py-3 border-top">
        <footer class="footer">
        <div class="container d-flex justify-content-center">
            <span class="text-body-secondary">© 2024 Created by David H</span>
        </div>
        </footer>
    </div>
    </div>
    
    <script src="/docs/5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script>
        function ShowAndHide() {
            var T = document.getElementById("editBlog");
            T.style.display = "block";  // <-- Set it to block

            var Z = document.getElementById("blog");
            Z.style.display = "none";  // <-- Set it to none
        }
    </script>

</body>
</html>